@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;800&family=Rowdies:wght@400;700&display=swap');
:root {
    --color-main: #2C3038;
    --color-secundary: #EFEFEF;

    --font-family-default: 'Poppins', sans-serif;
    --font-family-logo: 'Rowdies', cursive;
  }
  
  