@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color:var(--color-secundary);
  background:var(--color-main);

}

@font-face {
  font-family:"Porter Sans Inline Block";
  src: url('../public/fonts/porter-sans-inline-block.ttf') format("truetype");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --color-main: #111111;
  --color-secundary: #EFEFEF;
  --color-text:#5F5F5F;
}

.container{
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin: 0 auto;
  
}