main{
   background: var(--color-main);
}

.main-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: calc(100vh - 70px);
}

.main-container div{
    max-width: 530px;
}

.main-container h1{
    font-size: 6rem;
    line-height: 0.9em;
}

.main-container h2{
    font-size: 2rem;
    line-height: 1.4em;
    letter-spacing: 0.3rem;
}

.main-container h3{
    font-size: 2rem;
    line-height: 1.4em;
    font-weight: 500;

}

.main-container p{
    color:var(--color-text);
    font-size: 1rem;
}